html, body {
  width: 100%;
  height: 100%;
  color: white;
  background: black; }

body > div, body > div > div {
  width: 100%;
  height: 100%; }

.navbar {
  background: black;
  width: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.65);
  z-index: 2000;
  position: fixed;
  top: 0;
  z-index: 2000; }
  .navbar .navbar-brand {
    text-align: left;
    color: red; }
  .navbar .navbar-brand:hover {
    text-decoration: none; }

#main {
  height: 100%;
  width: 100%; }

.pages header {
  margin-top: 30px;
  padding-bottom: 40px;
  text-align: center; }

#home #page-welcome {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  background: url(/images/hero.jpg) 50% 0 no-repeat fixed;
  background-size: cover; }
  #home #page-welcome > div {
    display: block;
    margin-top: 100px; }

#home #page-intro {
  position: relative;
  background: black;
  height: 500px; }
  #home #page-intro div.container {
    z-index: 2;
    position: relative;
    color: white; }
    #home #page-intro div.container div.row div {
      padding-bottom: 20px; }
    #home #page-intro div.container img {
      width: 100%; }
    #home #page-intro div.container .img-circle {
      background: #aa0000;
      border: 10px outset; }
html, body {
  width: 100%;
  height: 100%;
  color: white;
  background: black; }

body > div, body > div > div {
  width: 100%;
  height: 100%; }

.navbar {
  background: black;
  width: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.65);
  z-index: 2000;
  position: fixed;
  top: 0;
  z-index: 2000; }
  .navbar .navbar-brand {
    text-align: left;
    color: red; }
  .navbar .navbar-brand:hover {
    text-decoration: none; }

#main {
  height: 100%;
  width: 100%; }

.pages header {
  margin-top: 30px;
  padding-bottom: 40px;
  text-align: center; }

#demo #page-demo {
  margin-top: 100px; }
  #demo #page-demo article {
    text-align: center; }
    #demo #page-demo article label {
      display: block;
      margin: 40px auto;
      width: 500px;
      height: 20px; }
      #demo #page-demo article label span {
        float: left; }
      #demo #page-demo article label input {
        float: right;
        background: transparent;
        border: none;
        border-bottom: solid 1px; }
    #demo #page-demo article button {
      margin: auto; }
