@import "global";

#demo {
  #page-demo {
    margin-top: 100px;

    article{
      text-align: center;

      label {
        display: block;
        margin:: 40px auto;
        width: 500px;
        height: 20px;

        span {
          float: left;
        }

        input {
          float: right;
          background: transparent;
          border: none;
          border-bottom: solid 1px;
        }
      }

      button {
        margin: auto;
      }
    }
  }
}