html, body {
  width: 100%;
  height: 100%;
  color: white;
  background: black;
}

body>div, body>div>div  {
  width: 100%;
  height: 100%;
}

.navbar {
  background: black;
  width: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.65);
  z-index: 2000;
  // transform: translateY(-100%);
  // transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);

  position: fixed;
  top: 0;
  z-index: 2000;

  // &.down {
  //   transform: translateY(0);
  // }

  .navbar-brand {
    text-align: left;
    color: red;
  }
  .navbar-brand:hover {
    text-decoration: none;
  }
}

#main {
  height: 100%;
  width: 100%;
}

.pages header {
  margin-top: 30px;
  padding-bottom: 40px;
  text-align: center;
}