<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="Blockchain Warehouse Receipts">
  <title>BWRMVP</title>
  <script   src="http://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
  <script src="js/main.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/style/bootstrap.min.css">
  <link rel="stylesheet" href="/style/main.css" media="screen" title="no title" charset="utf-8">
</head>

<body><div id="root"></div></body>
</html>